/*Стиль базовых html5 блоков*/
body {
	color: #000000; /*цвет текста черный*/
	font: 14px Tahoma, sans-serif;
	background-color: #FFECDC; /*фон - розовый*/
}

header {
    display: inline-block;
	padding: 20px 0;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	position: relative;
	display: block;
	padding: 0;
}

main {
	background:#F3F3F3; /*серая центральная часть*/
}

article {
    display: block;
}

/* стиль основного текста (контента) */
section {
    padding-top: 5px; /*внутренний отступ*/
	margin-left: 20px; /*внешний отступ*/
	padding-bottom: 10px;
}

footer {
	background:#C0C0C0; /*серый футер*/
	color: #808080; /*цвет текста в футере*/
	font-size: 11px; /*размер текста*/
}

.footer {
	max-width: 960px; /*максимальная ширина футера*/
	margin: auto; /*автоматический отступ*/
	padding: 10px;
	height: 90px; /*высота футера*/
}

/*логотип*/
.round {
    border-radius: 100px; /* Радиус скругления */
    border: 2px solid grey; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
 }

/*Стиль навигационных ссылок меню*/
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
}

nav a {
	text-decoration: none; /*подчеркивание текста в меню*/
    }

nav ul {                    /*ul-список*/
	display:inline-block;
	}

nav li {                    /*li-пункты списка*/
	font: 20px 'Oswald', sans-serif;
}

/*заголовок*/
h1 {
	font: 30px 'Oswald', sans-serif;
	margin: 25px auto;
	padding: 0 10px;
}

/*текст <p>*/
.ot {
    padding: 0 30px; /*отступ по бокам*/
    font-size: 16px;
}

/*Стиль меню сверху(основная навигация)*/
.top-menu li {
	list-style-type: none; /*отменяет маркеры для списка*/
	padding: 10px;
	background:rgba(0,0,0,0.1);
	float: left;
	display: inline; /*строчное отображение*/
}

.top-menu li.active {
	background: #C0C0C0; /*выеделение главного пунка меню*/
}

.top-menu a {
	display: block;
	color: #424242;
	padding: 10px 0;
}

figure {
	display: inline-block;
	margin: 45px;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right; /*выравнивание по правому краю*/
}

/*поле для ввода(addrecipe)*/
input[type="text"] {
	background-color: #F3F3F3;
    border: 1px solid grey;
	vertical-align: middle; /*выравнивание по вертикали*/
	flex: 1;
	font-size: 16px;
}

.formtoadd{
	height: 300px;
	width: 960px;
    display: flex;
}

.button {
     text-align: center;
}

button[type="submit"]{
	background-color: #C0C0C0;
	border: 1px solid #ccc;
  	border-radius: 5px; /*скругленная кнопка*/
    height: 50px;
	width: 160px;
  	font-size: 18px;
  	cursor: pointer;
	text-align: center; /*выравнивание по вертикальной оси*/
}

/*footer*/
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

.youtube {
	background-image: url("../images/main/youtube.png");
	background-position: 0 0;
}

.google {
	background-image:  url("../images/main/google.png");
	background-position: -30px 0;
}

/*Таблица рецептов(recipes)*/
table {
    border-collapse: separate; /*границы отображаются отдельно друг от друга*/
    border: 1px solid grey;
    width: 950px;
    line-height: 1.1; /*интервал между строчками текста*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 15px;
}

th {
    background:#FFF0F5;
    padding: 10px;
    border: 1px solid grey;
}

td {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid grey;
}

caption {
    margin-bottom: 7px;
    font-family: cursive;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    color: #E52B50;
}

/*Поисковая строка(search)*/
input{
    border: 1px solid grey;
    background-color: #F3F3F3;
    padding: 10px;
}

.imageInFooter{

}

.formForSearch {
    margin: 0 0 350px 0;
}


